.container {
  display: flex;
  flex-direction: column;
  align-items: left;

  padding: 2rem;
  width: 40rem;

  background-color: var(--mined-block-bg);
  border-radius: 10px;

  box-sizing: border-box;
}
