.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;
}

.container img {
  width: 40rem;
}

.container span {
  font-size: 1.5rem;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
