:root {
  --white: #fff;
  --gray-line: #dcdde0;
  --red: #e83f5b;
  --green: #4cd62b;
  --blue: #5965e0;
  --dark-blue: #4953b8;
  --twitter-blue: #2aa9e0;

  --text: #666666;
  --text-highlight: #b3b9ff;

  --title: #2e384d;

  --mined-block-bg: #f2f3f5;
  --current-block-bg: #1f2937;
  --blockchain-status-bg: #d1d5db;
}

@media (max-width: 1080px) {
  html {
    font-size: 92.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
