.container {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;

  min-height: 50vh;
  width: 100vw;

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  background-color: var(--light-blue-bg);
}
